@import "colors";
.severity-bar-wrapper {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    padding-bottom: 5rem;

}

.filters {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.wrapper {
    padding: 2rem;
    border-radius: 25px;
}


.date-filters {
    button {
        margin-right: 20px;
    }
}


.summary-wrapper {
    display: flex;
    justify-content: center;

    .doughnut-chart-wrapper {
        position: relative;
        width: 250px;
        height: 250px;


        .chart-title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            font-size: 16px;
            color: black;
            font-weight: bold;
            font-size: 25px;
        }
    }
}

.summary-title {
    font-size: 22px;
    margin-bottom: 15px;
    text-align: center;
}


.brief{
    .item{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .text{
        font-size: 1.1rem;
        padding: 0;
        line-height: 9px;

    }

    .brief-circle {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 4px solid;
        margin: 0 7px;

        .inner {
            display: inline-block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
        }
    }
}