<div class="wrapper veryLightGray-bg">
        <h1 class="main-header">
                Historical Data
        </h1>

        <div class="filters">
                <button nz-button nz-dropdown [nzClickHide]="false" [nzTrigger]="'click'" [nzDropdownMenu]="compareMenu"
                        class="compare-btn">
                        {{'compare' | translate}}
                        <span nz-icon nzType="down"></span>
                </button>

                <nz-dropdown-menu #compareMenu="nzDropdownMenu">
                        <div nz-menu nzSelectable>
                                <div class="compare-menu">

                                        <div class="variabled">
                                                <p class="bold">
                                                        {{'variables' | translate}}
                                                </p>

                                                <nz-radio-group [dir]="(lang$ | async)  === 'ar' ? 'rtl' : 'ltr'" (ngModelChange)="onVariableChange($event)"
                                                        [(ngModel)]="type">

                                                        <li nz-menu-item>
                                                                <label style="display: block; width: 100%;"
                                                                        class="station-item" [nzValue]="'aqi'" nz-radio>
                                                                        {{'aqi' | translate}}</label>
                                                        </li>

                                                        <nz-divider [nzDashed]="true" class="margin-0"></nz-divider>

                                                        <ng-container *ngFor="let variable of variables">
                                                                <li nz-menu-item>
                                                                        <label style="display: block ; width: 100%;"
                                                                                class="station-item"
                                                                                [nzValue]="variable.code" nz-radio>
                                                                                {{variable.abbreviation_en}}</label>
                                                                </li>

                                                                <nz-divider [nzDashed]="true"
                                                                        class="margin-0"></nz-divider>
                                                        </ng-container>
                                                </nz-radio-group>
                                        </div>

                                        <div class="divider">

                                                <nz-divider [nzDashed]="true" [nzType]="'vertical'"></nz-divider>
                                        </div>

                                        <div class="stations">
                                                <p class="bold">
                                                        {{'stations' | translate}}
                                                </p>

                                                <nz-checkbox-wrapper [dir]="(lang$ | async)  === 'ar' ? 'rtl' : 'ltr'" (nzOnChange)="onStationChange($event)"
                                                        style="width: 100%;">
                                                        <div class="list-item" *ngFor="let station of stations">
                                                                <label *ngIf="station.code !== currentStation.code"
                                                                        nz-checkbox
                                                                        [nzValue]="station.code">{{station.name}}</label>
                                                        </div>
                                                </nz-checkbox-wrapper>
                                        </div>
                                </div>
                        </div>
                </nz-dropdown-menu>

                <div div *ngIf="activeInterval$ | async as activeInterval" class="date-filters">
                        <button (click)="onIntervalChange('day', datepicker)" nz-button
                                [class.active]="activeInterval === 'day'">{{'day' | translate}}</button>
                        <button (click)="onIntervalChange('week', datepicker)" nz-button
                                [class.active]="activeInterval === 'week'">{{'week' | translate}}</button>
                        <button (click)="onIntervalChange('month', datepicker)" nz-button
                                [class.active]="activeInterval === 'month'">{{'month' | translate}}</button>


                                <ng-template #calendar>
                                        <span style="font-size: 22px; " nz-size="large" nz-icon nzType="calendar" nzTheme="outline"></span>
                                    </ng-template>
                    
                                   
                                    <nz-range-picker #datepicker [nzAllowClear]="true" [nzDisabledDate]="disabledDate" [nzShowTime]="(activeInterval$ | async) === 'day' ? { nzFormat: 'HH:mm' } : false" [nzSuffixIcon]="calendar" class="simple" [class.hidden]="!date" [(ngModel)]="date"
                                        (ngModelChange)="onDateChange($event)"></nz-range-picker>
                        <button nz-button nz-dropdown [nzDropdownMenu]="menu" class="download">
                                {{'download' | translate}}
                                <span nz-icon nzType="down"></span>

                        </button>

                        <nz-dropdown-menu #menu="nzDropdownMenu">
                                <ul nz-menu nzSelectable>
                                        <nz-radio-group [(ngModel)]="downloadType">

                                                <li nz-menu-item>
                                                        <label class="download-item" [nzValue]="'pdf'" nz-radio>
                                                                PDF</label>
                                                </li>

                                                <nz-divider [nzDashed]="true" class="margin-0"></nz-divider>


                                                <li nz-menu-item>
                                                        <label class="download-item" [nzValue]="'png'" nz-radio>
                                                                PNG</label>
                                                </li>

                                        </nz-radio-group>
                                </ul>
                        </nz-dropdown-menu>
                </div>
        </div>


        <div nz-row [nzGutter]="{ xs: 4, sm: 20, md: 60, lg: 80 }" class="charts-wrapper">


                <div nz-col class="gutter-row chart" [nzSpan]="((type$ | async) === 'aqi') ? 18 : 24">
                        <div style="display: block;">
                                <canvas id="lineChartCanvas" #lineChartCanvas baseChart [datasets]="lineChartData"
                                        [labels]="lineChartLabels" [options]="lineChartOptions" [legend]="false"
                                        [type]="'line'">
                                </canvas>
                        </div>
                </div>

                <div *ngIf="(type$ | async) === 'aqi'" nz-col [nzSpan]="6" class="gutter-row">
                        <div class="pipe-chart">
                                <p class="summary-title">Breakdown</p>
                                <div class="summary-wrapper">
                                        <div style="display: block;" class="doughnut-chart-wrapper">
                                                <canvas baseChart [data]="doughnutChartData"
                                                        [labels]="doughnutChartLabels" [options]="doughnutChartOptions"
                                                        [legend]="false" [type]="'doughnut'"></canvas>

                                                <div class="chart-title">AQI</div>

                                        </div>
                                </div>
                        </div>

                        <nz-divider [nzDashed]="true"></nz-divider>

                        <div class="brief">
                                <div *ngFor="let item of summaryKeys; index as i" class="item">
                                        <p class="gray text">
                                                <span [ngStyle]="{'border-color': item.color}" class="brief-circle">
                                                        <span [ngStyle]="{'background': item.color}"
                                                                class="inner"></span>
                                                </span>

                                                {{item.name}}
                                        </p>

                                        <p class="gray text">
                                                {{ item.percentage | number:'.1'}} %
                                        </p>
                                </div>
                        </div>
                </div>
        </div>
</div>

<div *ngIf="breakPoints?.length > 0" class="severity-bar-wrapper">
        <app-severity-bar [breakPoints]="breakPoints"></app-severity-bar>
</div>