<div class="form-container">
  <h2  class="dialog-title">{{"Change password" | translate}}</h2>
  <form [formGroup]="passwordForm">
    <div class="input-container">
      <mat-form-field style="margin-bottom: 25px ;" appearance="outline">
        <mat-label class="input-label">{{"Password" | translate}}</mat-label>
        <input type="password" formControlName="new_password" matInput>
      <!-- <mat-error *ngIf="passwordForm.get('new_password').errors['required']"> {{erorr}}</mat-error> -->
      <mat-error *ngIf="passwordForm.get('new_password').errors?.['minLength']"> Min length is 8</mat-error>
      <mat-error *ngIf="passwordForm.get('new_password').errors?.['pattern']"> Password must contains at least one uppercase, lowercase and number</mat-error>

      </mat-form-field>


    </div>


    <div class="input-container">
      <mat-form-field appearance="outline">
        <mat-label class="input-label">{{"Confirm password" | translate}}</mat-label>
        <input type="password" formControlName="confirmPassword" matInput>
      </mat-form-field>


      <div>
        <mat-error *ngIf="erorr"> {{erorr}}</mat-error>
        <mat-error *ngIf="mismatch && !passwordForm.get('new_password').pristine && !passwordForm.get('confirmPassword').pristine"> Passwords don't match</mat-error>
      </div>

    </div>


    <mat-dialog-actions class="actions">
      <button mat-button mat-dialog-close class="save" type="submit" [disabled]='passwordForm.invalid || mismatch'
        (click)="changePassword()">{{'save'| translate}}</button>
      <button mat-button mat-dialog-close class="cancel">{{'cancel'| translate}}</button>
    </mat-dialog-actions>
  </form>
</div>
