.bar-wrapper {
    border-radius: 15px;
    position: relative;
    margin: auto;
    display: inline-block;
    margin-top: 40px;

    &.vertical {
        // transform: rotate(-90deg);
        display: flex;
        flex-direction: column-reverse;

        .level:first-child {
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            border-top: 18px solid #fff;

        }

        .level:last-child {
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
            border-top: 0;

        }



        .level {
            display: inline-block;
            width: 20px;
            height: 90px;
            position: relative;
            border-top: 1px solid #fff;



            // &.na::after {
            //     content: 'Good';
            //     position: absolute;
            //     bottom: -20px;
            //     right: -30px;
            // }


            .end {
                position: absolute;
                top: -30px;
                right: 0px;
                display: inline-flex;
                flex-direction: column;
                align-items: flex-end;
            }

            .bar-value {
                position: relative;
                left: -33px;
                bottom: -19px;
                font-weight: 500;

            }


            .end-bar {
                height: 1px;
                width: 10px;
                background-color: gray;
                position: relative;
                left: -20px;
                bottom: -7px
            }
        }

    }


    &.horizontal {

        // &::before {
        //     content: 'N/A';
        //     position: absolute;
        //     bottom: -20px;
        //     left: -10px;
        // }

        // &::after {
        //     content: 'Hazardous';
        //     position: absolute;
        //     bottom: -20px;
        //     right: -30px;
        // }


        .level {
            display: inline-block;
            width: 90px;
            height: 20px;
            position: relative;
            border-top: 1px solid #fff;

            // &.na::after {
            //     content: 'Good';
            //     position: absolute;
            //     bottom: -20px;
            //     right: -30px;
            // }


            .end {
                position: absolute;
                top: -30px;
                right: 0px;
                display: inline-flex;
                flex-direction: column;
                align-items: flex-end;
            }

            .bar-value {
                position: relative;
                right: -7px;
            }

            .level:first-child {
                .bar-value {
                    position: relative;
                    right: 0;
                }

            }

            .end-bar {
                height: 10px;
                width: 1px;
                background-color: gray;
            }
        }

        .level:first-child {
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            border-right: 18px solid #fff;
        }

        .level:last-child {
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            border-right: 0;
        }
    }
}



@media(max-width: 1200px) {
    .bar-wrapper {
        &.horizontal {



            .level {
                width: 60px;


            }
        }
    }

}

@media(max-width: 992px) {
    .bar-wrapper {
        &.horizontal {



            .level {
                width: 50px;


            }
        }
    }

}