<!-- [class.vertical]="type === 'vertical'" [class.horizontal]="type === 'horizontal'" -->
<div  class="bar-wrapper horizontal" style="direction: ltr;">
    <div   [ngStyle]="{'background': gray}"  class="level na">
        <!-- <span class="end">
            <div class="bar-value">
                0
            </div>
            <div class="end-bar"></div>
        </span> -->
    </div>

    <div  [class.na]="false" [ngStyle]="{'background': breakPoint.color}" *ngFor="let breakPoint of breakPoints" class="level">
        <span class="end">
            <div class="bar-value">

                {{breakPoint.breakpoint_end}}
            </div>

            <div class="end-bar"></div>
        </span>
    </div>
</div>