<div class="title">
  <h1>Air Quality Index</h1>
  <h3>Real-time Summary</h3>
  <p class="gray">Last updated {{time}} </p>
</div>

<div class="station">
  <div class="information">
    <h1>{{station}}</h1>
    <p class="gray">Manage By EA</p>
    <div [class]="percent+'-bg' + ' percent '">
      <img  alt="">{{percent}}
    </div>
  </div>
  <div class="spinner">
    <img src="../../../../../assets/ICONS/Home Page/AQI Chart.svg" alt="">
  </div>
</div>
<nz-table ngSkipHydration [nzFrontPagination]="false" #nzTable [nzData]="listOfData">
    <thead>
        <tr>
            <th></th>
            <th *ngFor="let item of headers">{{item}}</th>
        </tr>
    </thead>


    <tbody>
        <tr *ngFor="let item of listOfData;index as i">
            <td>{{item.name}}</td>

            <td *ngFor="let valueItem of item.values">
                <span *ngIf="item.rounded" class="item rounded" >{{ valueItem }}</span>
                <span *ngIf="item.name === 'windDirection'" class="item">{{ valueItem }}</span>
                <span *ngIf="item.name === 'windSpeed'" class="item">{{ valueItem }} KM/s</span>
                <span *ngIf="item.name === 'temperature'" class="item">{{ valueItem }}</span>
                <span *ngIf="item.name === 'humidity'" class="item">{{ valueItem }}</span>
            </td>
        </tr>
    </tbody>

    <!-- <tbody>
        <tr *ngFor="let data of nzTable.data;index as i">
            <td>{{listOfData[i].PM2_5}}</td>
            <td>{{listOfData[i].PM10}}</td>
            <td>{{listOfData[i].CO}}</td>
            <td>{{listOfData[i].NO2}}</td>
            <td>{{listOfData[i].O3}}</td>
            <td>{{listOfData[i].SO2}}</td>

            <td>{{listOfData[i].windDirection}}</td>
            <td>{{listOfData[i].windSpeed}}</td>
            <td>{{listOfData[i].temperature}}</td>
            <td>{{listOfData[i].humidity}}</td>

        </tr>
    </tbody> -->
</nz-table>
