<div class="wrapper veryLightGray-bg main-radius ">
  <h1 class="main-header">Air Quality Index</h1>
  <h3 class="darkGray">Real-time Summary</h3>
  <p class="gray par">Last updated {{time}} </p>
</div>

<div class="table-wrapper veryLightGray-bg main-radius">


  <a routerLink="/stations/1" class="details">
    <div class="information">

      <h1> {{station}} </h1>

      <p class="gray">Manage By EA</p>

      <div [style]="{'background': status.color}" class="status-wrapper">

        <div class="status">

          <img width="25" height="25" [src]="'assets/icons/' + status?.name + '-face.svg'" alt="">

          <span class="item">
            {{status?.name}}
          </span>
        </div>
      </div>
    </div>


    <div class="summary-wrapper">
      <div style="display: block; width: 180px;" class="doughnut-chart-wrapper">


        <div class="main-img">
          <img width="200" height="200" src="assets/icons/aqi-circle.svg" alt="">

          <img width="60" height="60" class="arrow" src="assets/icons/aqi-arrow.svg" alt="">

        </div>


        <!-- <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [options]="doughnutChartOptions"
          [legend]="false" [type]="'doughnut'"></canvas> -->

        <div class="chart-inner-circle"></div>

      </div>
    </div>

  </a>


  <nz-table [nzFrontPagination]="false" #nzTable [nzData]="listOfData">
    <thead>
      <tr>
        <th></th>
        <th [nzAlign]="'center'" *ngFor="let item of headers">{{item}}</th>
      </tr>
    </thead>


    <tbody>
      <tr *ngFor="let item of listOfData;index as i">
        <td [nzAlign]="'center'">{{item.name}}</td>

        <td [nzAlign]="'center'" *ngFor="let valueItem of item.values">
          <span [style.background]="valueItem.color" *ngIf="item.rounded" class="item rounded">{{ valueItem.value
            }}</span>

          <span *ngIf="item.name === 'windDirection'" class="item"> <span nz-icon nzType="arrow-up"
              nzTheme="outline"></span> </span>
          <span *ngIf="item.name === 'windSpeed'" class="item">{{ valueItem.value }} KM/s</span>
          <span *ngIf="item.name === 'temperature'" class="item">{{ valueItem.value }}</span>
          <span *ngIf="item.name === 'humidity'" class="item">{{ valueItem.value }}</span>
        </td>
      </tr>
    </tbody>

    <!-- <tbody>
        <tr *ngFor="let data of nzTable.data;index as i">
            <td>{{listOfData[i].PM2_5}}</td>
            <td>{{listOfData[i].PM10}}</td>
            <td>{{listOfData[i].CO}}</td>
            <td>{{listOfData[i].NO2}}</td>
            <td>{{listOfData[i].O3}}</td>
            <td>{{listOfData[i].SO2}}</td>

            <td>{{listOfData[i].windDirection}}</td>
            <td>{{listOfData[i].windSpeed}}</td>
            <td>{{listOfData[i].temperature}}</td>
            <td>{{listOfData[i].humidity}}</td>

        </tr>
    </tbody> -->
  </nz-table>
</div>