<div class="title">
  <h1>Air Quality Index</h1>
  <h3>Real-time Summary</h3>
  <p class="gray">Last updated {{time}} </p>
</div>
<div class="station">
  <div class="information">
    <h1>{{station}}</h1>
    <h3>Manage By EA</h3>
    <div [class]="percent + ' ahmed'">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-bounding-box" viewBox="0 0 16 16">
        <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5M.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5"/>
        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
      </svg> {{percent}}
    </div>
  </div>
  <div class="spinner">
    ahmed
  </div>
</div>
<nz-table ngSkipHydration [nzFrontPagination]="false" #nzTable [nzData]="listOfData">
    <thead>
        <tr>
            <th></th>
            <th *ngFor="let item of headers">{{item}}</th>
        </tr>
    </thead>


    <tbody>
        <tr *ngFor="let item of listOfData;index as i">
            <td>{{item.name}}</td>

            <td *ngFor="let valueItem of item.values">
                <span *ngIf="item.rounded" class="item rounded">{{ valueItem }}</span>

                <span *ngIf="item.name === 'windDirection'" class="item">{{ valueItem }}</span>
                <span *ngIf="item.name === 'windSpeed'" class="item">{{ valueItem }} KM/s</span>
                <span *ngIf="item.name === 'temperature'" class="item">{{ valueItem }}</span>
                <span *ngIf="item.name === 'humidity'" class="item">{{ valueItem }}</span>
            </td>
        </tr>
    </tbody>

    <!-- <tbody>
        <tr *ngFor="let data of nzTable.data;index as i">
            <td>{{listOfData[i].PM2_5}}</td>
            <td>{{listOfData[i].PM10}}</td>
            <td>{{listOfData[i].CO}}</td>
            <td>{{listOfData[i].NO2}}</td>
            <td>{{listOfData[i].O3}}</td>
            <td>{{listOfData[i].SO2}}</td>

            <td>{{listOfData[i].windDirection}}</td>
            <td>{{listOfData[i].windSpeed}}</td>
            <td>{{listOfData[i].temperature}}</td>
            <td>{{listOfData[i].humidity}}</td>

        </tr>
    </tbody> -->
</nz-table>
