<app-bread-crumb [routes]="routes" [target]="'Overview'"></app-bread-crumb>

<div class="wrapper veryLightGray-bg">
    <h1 class="main-header">
        Stations Overview
    </h1>

    <div class="content">
        <div class="filters">
            <nz-select [(ngModel)]="type" nzShowSearch nzAllowClear>
                <nz-option nzValue="all" nzLabel="Air Quality Index" ></nz-option>
                
                <ng-container *ngFor="let item of airQualityItems">
                    <!--  -->
                    
                    <nz-option   [nzLabel]=" item" [nzValue]="item"></nz-option>
                </ng-container>
            </nz-select>

            <div class="date-filters">
                <button nz-button  class="active">Day</button>
                <button nz-button >Week</button>
                <button nz-button >Month</button>
                

                <nz-date-picker class="simple" [(ngModel)]="date" [class.hidden]="!date" (ngModelChange)="onDateChange()"></nz-date-picker>
            </div>
        </div>

        <app-chart></app-chart>

   
    </div>
</div>


<div class="severity-bar-wrapper">
    <app-severity-bar></app-severity-bar>
</div>
