@import 'colors';

::ng-deep .ant-menu-title-content {
    width: 100%;
    display: block;
}

.severity-bar-wrapper {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    padding-bottom: 5rem;

}

.filters {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.wrapper {
    padding: 2rem;
    border-radius: 25px;
}


.date-filters {
    button {
        margin-right: 20px;
    }
}

nz-radio-group {
    width: 100%;
}

.airquality-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 280px;
    background-color: $SeaGreen;
    color: #fff;
    font-size: 1.1rem;
}