<app-bread-crumb [routes]="routes" [target]="'Overview'"></app-bread-crumb>

<div class="wrapper overview veryLightGray-bg">
    <h1 class="main-header">
        Stations Overview
    </h1>

    <div class="content">
        <div *ngIf="type$ | async as activeVariable" class="filters">
            <!-- <nz-select [(ngModel)]="type" nzShowSearch nzAllowClear>
                <nz-option nzValue="all" nzLabel="Air Quality Index" ></nz-option>
                
                <ng-container *ngFor="let item of airQualityItems">
                    
                    <nz-option   [nzLabel]=" item.name" [nzValue]="item.name"></nz-option>
                </ng-container>
            </nz-select> -->


            <button nz-button nz-dropdown [nzClickHide]="false" [nzTrigger]="'click'" [nzDropdownMenu]="menu"
                class="airquality-btn">
                {{activeVariable === 'aqi' ? 'Air Quality Index' : activeVariable}}
                <span nz-icon nzType="down"></span>
            </button>

            <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                    <nz-radio-group (ngModelChange)="onTypeChange($event)" [(ngModel)]="type">

                        <li nz-menu-item>
                            <label style="display: block; width: 100%;" class="station-item" [nzValue]="'aqi'" nz-radio>
                                {{'Air Quality Index'}}</label>
                        </li>

                        <nz-divider [nzDashed]="true" class="margin-0"></nz-divider>

                        <ng-container *ngFor="let variable of variables$ |async">

                            <li nz-menu-item>
                                <label style="display: block ; width: 100%;" class="station-item"
                                    [nzValue]="variable.code" nz-radio> {{variable.abbreviation_en}}</label>
                            </li>

                            <nz-divider [nzDashed]="true" class="margin-0"></nz-divider>
                        </ng-container>
                    </nz-radio-group>
                </ul>
            </nz-dropdown-menu>


            <div *ngIf="activeInterval$ | async as activeInterval" class="date-filters">
                <button (click)="onIntervalChange('day', datepicker)" nz-button
                    [class.active]="activeInterval === 'day'">Day</button>
                <button (click)="onIntervalChange('week', datepicker)" nz-button
                    [class.active]="activeInterval === 'week'">Week</button>
                <button (click)="onIntervalChange('month', datepicker)" nz-button
                    [class.active]="activeInterval === 'month'">Month</button>


                <ng-template #calendar>
                    <span style="font-size: 22px; " nz-size="large" nz-icon nzType="calendar" nzTheme="outline"></span>
                </ng-template>

               
                <nz-range-picker #datepicker [nzAllowClear]="true" [nzDisabledDate]="disabledDate" [nzShowTime]="(activeInterval$ | async) === 'day' ? { nzFormat: 'HH:mm' } : false" [nzSuffixIcon]="calendar" class="simple" [class.hidden]="!date" [(ngModel)]="date"
                    (ngModelChange)="onDateChange($event)"></nz-range-picker>
            </div>
        </div>


        <app-chart *ngIf="isLoaded " [data]="data" [breakPoints]="breakPoints"
            [interval]="activeInterval$ | async"></app-chart>
    </div>
</div>


<div class="severity-bar-wrapper">
    <app-severity-bar [breakPoints]="breakPoints"></app-severity-bar>
</div>