<app-bread-crumb [routes]="routes" [target]="'Overview'"></app-bread-crumb>

<div class="wrapper veryLightGray-bg">
    <h1 class="main-header">
        Stations Overview
    </h1>

    <div class="content">
        <div class="filters">
            <!-- <nz-select [(ngModel)]="type" nzShowSearch nzAllowClear>
                <nz-option nzValue="all" nzLabel="Air Quality Index" ></nz-option>
                
                <ng-container *ngFor="let item of airQualityItems">
                    
                    <nz-option   [nzLabel]=" item.name" [nzValue]="item.name"></nz-option>
                </ng-container>
            </nz-select> -->


            <button nz-button nz-dropdown [nzClickHide]="false" [nzTrigger]="'click'" [nzDropdownMenu]="menu"
                class="airquality-btn">
                Air Quality Index
                <span nz-icon nzType="down"></span>
            </button>

            <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                    <nz-radio-group [(ngModel)]="type">

                        <ng-container *ngFor="let item of airQualityItems">

                            <li nz-menu-item>
                                <label class="station-item" [nzValue]="item.name" nz-radio> {{item.name}}</label>
                            </li>

                            <nz-divider [nzDashed]="true" class="margin-0"></nz-divider>
                        </ng-container>
                    </nz-radio-group>
                </ul>
            </nz-dropdown-menu>


            <div *ngIf="activeInterval$ | async as activeInterval" class="date-filters">
                <button (click)="onIntervalChange('day')"  nz-button [class.active]="activeInterval === 'day'" >Day</button>
                <button (click)="onIntervalChange('week')" nz-button [class.active]="activeInterval === 'week'">Week</button>
                <button (click)="onIntervalChange('month')" nz-button [class.active]="activeInterval === 'month'">Month</button>


                <nz-date-picker class="simple" [(ngModel)]="date" [class.hidden]="!date"
                    (ngModelChange)="onDateChange()"></nz-date-picker>
            </div>
        </div>


        <app-chart *ngIf="isLoaded  && breakPointLoaded" [data]="data" [breakPoints]="breakPoints"></app-chart>
    </div>
</div>


<div class="severity-bar-wrapper">
<app-severity-bar [breakPoints]="breakPoints"></app-severity-bar>
</div>