<div class="wrapper veryLightGray-bg">

      <img class="logo" src="../../../../../assets/ICONS/Enviroment Authority Logo.svg" alt="">

    <ul >
      <li [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['seaGreen-bg', 'white']" routerLink="/stations" class="home "><img src="../../../../../assets/ICONS/Home Icon.svg" alt=""> Home</li>
      
      <li [routerLinkActive]="['seaGreen-bg', 'white']" routerLink="stations/overview" class="overview gray"> <img src="../../../../../assets/ICONS/Overview Icon.svg" alt="">Overview</li>
    </ul>

    <div class="admin" (click)="adminClick()"> <img class="adminIcon" src="../../../../../assets/ICONS/Admin Icon.svg" >Admin</div>
</div>
