<div class="wrapper veryLightGray-bg">
    <div class="logo">
      <img src="../../../../../assets/ICONS/Enviroment Authority Logo.svg" alt="">
    </div>
    <ul >
      <li routerLink="/" class="home "><img src="../../../../../assets/ICONS/Home Icon.svg" alt=""></li>
      <li routerLink="stations/overview" class="overview gray"> <img src="../../../../../assets/ICONS/Overview Icon.svg" alt=""></li>
    </ul>

    <div class="admin seaGreen" (click)="adminClick()"><img class="adminIcon" src="../../../../../assets/ICONS/Admin.svg" alt=""></div>
</div>
