@import 'colors';
.wrapper{
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding:  0 40px ;
  align-items: center;
  color: black;
  font-size: 16px;
  font-weight: 600;
  ul{
    display: flex;
    width: 15%;
    justify-content: space-between;
    li{
      list-style: none;
      height: 30px;
      width: 100px;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 0px 5px gray;
      svg{
        margin-right:  5px;
      }
    }

  }

}

