@import 'background';
@import 'zorro/table';
@import 'zorro/select';
@import 'zorro/button';
@import 'zorro/date-picker';
@import 'typo/headers';
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}