@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import 'background';
@import 'zorro/table';
@import 'zorro/select';
@import 'zorro/button';
@import 'zorro/checkbox';
@import 'zorro/date-picker';
@import 'typo/headers';

@font-face {
    font-family: 'Neo Sans Arabic Regular';
    src: url('assets/fonts/Neo Sans Arabic Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body,
* {
    font-family: 'Neo Sans Arabic Regular', sans-serif;
}


* {
    margin: 0;

    box-sizing: border-box;
    padding: 0;
}

.main-radius {
    border-radius: 15px;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.justify-content-between {
    justify-content: space-between;
}



a {
    color: #000;

    &:hover {
        color: #000;
    }
}


.margin-0 {
    margin: 0 !important;
}


.bold {
    font-weight: bold !important;
}

.m-0 {
    margin: 0 !important;
}

.p-0 {
    padding: 0 !important;
}


.brief-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid;
    margin: 0 7px;
    border-color: $LightGray;
    
    .inner {
        display: inline-block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: $LightGray;
    }
}


.rounded {
    border-radius: 50%;
}


.pointer:hover {
    cursor: pointer;
}



.custom-label {
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px !important;
    position: relative;
    top: -2px;
    left: 0px;
    width: 30px;
    height: 30px;
    padding: 1px;
    border-radius: 50%;
    background-color: $LightGray;
}

.custom-label.Good {
    background-color: $Good;
}

.custom-label.Moderate {
    background-color: $Moderate;
    color: #000 !important;
}

.custom-label.Satisfactory {
    background-color: $Satisfactory;
}

.custom-label.Unhealthy.Sensitive {
    background-color: #FF7E00;
}

.custom-label.Unhealthy {
    background-color: $Unhealthy;
}

.custom-label.Hazardous {
    background-color: $Hazardous;
}

// $Good: #00C800;
// $Moderate: #FFE12D;
// $Satisfactory: #FF7E00 ;
// $Unhealthy: #FA0A00;
// $VeryUnhealthy: #8F3F97;
// $Hazardous: #7E0023;



.font-weight-bold{
    font-weight: bold !important;
}












@media(max-width: 1500px){
    .ant-table-tbody > tr > td{
        padding-right: 8px;
        padding-left: 8px;
        font-size: .6rem;
    }

    .ant-table-thead > tr > th{
        padding-left: 8px;
        padding-right: 8px;

        font-size: .6rem;

    }
}


@media(max-width: 767px){
    .ant-table-tbody > tr > td{
        padding-right: 2px;
        padding-left: 2px;
        font-size: .5rem;
    }

    .ant-table-thead > tr > th{
        padding-left: 2px;
        padding-right: 2px;

        font-size: .6rem;

    }

    .main-td{
        font-size: .7rem !important;
        text-wrap: wrap !important;
        max-width: 100px;
    }

}