.wrapper{
    padding: 1rem;
    margin-bottom: 1.5rem;
    .main-header{
        margin-bottom: 0
     
    }

    .par{
        font-weight: bold;
    }

}



.station-item{
    width: 250px;
    height: 40px;
    display: flex;
    align-items: center;
}

.date{
    font-size: 17px;
    margin-bottom: 0;
}
.details{
    padding: 0 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
    margin-bottom: 10px;
    .number{
        font-weight: bolder;
        font-size: 1.1rem;

    }

    .item{
        color: #303030;
        font-size: 1.1rem;
        font-weight: 600;
    }

    nz-divider{
        background-color: #000;
        height: 25px;
    }
}


.carousel-items{
    margin-top: 15px;
    .update-item{
        margin-right: 10px ;
        padding: 5px 10px;
        border-radius: 8px;

        .item-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .name{
            font-weight: 600;
            margin: 0;
            font-size: 1rem;
        }

        .value{
            font-size: 1.2rem;
            margin: 0;
        }

        nz-divider{
            margin: 3px;
            padding: 0;
        }
    }
}

.no-min-width{
    min-width: auto !important;
}