<app-bread-crumb [routes]="routes" [target]="'Overview'"></app-bread-crumb>

<div class="wrapper veryLightGray-bg main-radius d-flex justify-content-between">
    <div class="title">

        <h1 class="main-header">
            {{currentStation}} Station


            <a nz-dropdown [nzDropdownMenu]="menu">
                <span nz-icon nzType="caret-down" nzTheme="outline"></span>
            </a>

            <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                    <nz-radio-group [(ngModel)]="currentStation">

                        <ng-container *ngFor="let station of stations">

                            <li nz-menu-item>
                                <label class="station-item" [nzValue]="station" nz-radio> {{station}}</label>
                            </li>

                            <nz-divider [nzDashed]="true" class="margin-0"></nz-divider>
                        </ng-container>
                    </nz-radio-group>
                </ul>
            </nz-dropdown-menu>

        </h1>

        <p class="gray par">
            Manage by EA
        </p>
    </div>

    <div class="details-wrapper">

        <div [style]="{'background': status.color}" class="detaisls">
            <span class="item">
                AQI
            </span>

            <span class="number">
                {{value}}
            </span>

            <nz-divider [nzType]="'vertical'"></nz-divider>

            <div class="status">

                <img width="25" height="25" [src]="'assets/icons/' + status?.name + '-face.svg'" alt="">

                <span class="item">
                    {{status?.name}}
                </span>
            </div>
        </div>

        <p class="gray date">
            Last updated {{date | date:'h:mm dd-MM-yyyy a'}}
        </p>
    </div>

</div>

<div class="wrapper veryLightGray-bg main-radius">
    <div class="update-header d-flex justify-content-between">

        <h1 class="main-header">
            Latest Update
        </h1>
    
        <div class="buttons">
            <button class="no-min-width" (click)="carouselRef.prev()" nz-button nzType="text">
                <span nz-icon nzType="caret-left" nzTheme="outline"></span>
            </button>

            <button class="no-min-width" (click)="carouselRef.next()" nz-button nzType="text">
                <span nz-icon nzType="caret-right" nzTheme="outline"></span>
            </button>

        </div>
    </div>


    <div class="carousel-items">
        <owl-carousel-o #carouselRef [options]="customOptions">
            <ng-template [width]="190" *ngFor="let item of airQualityItems" carouselSlide>
                <div class="lightGray-bg update-item">
                    <div class="item-header">
                        <p class="gray name">{{item.name}}</p>

                        <span [ngStyle]="{'border-color': item.color}" class="brief-circle">
                            <span [ngStyle]="{'background': item.color}" class="inner"></span>
                        </span>
                    </div>

                    <nz-divider></nz-divider>

                    <p class="text-center seaGreen bold value">
                        {{item.value}} {{item.unit}}
                    </p>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>

</div>


<app-detailed-chart></app-detailed-chart>