@import 'colors';

.main-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .map-wrapper{
        flex-grow: 1;
        position: relative;

        .bar-wrapper{
            position: absolute;
            // top: 80px;
            top: 50%;
            transform: translateY(-50%);
            left: 50px;
        }
    }

 
}

.station-controller{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    gap: 25px;
    padding: 0 1rem;
    .btn-icon{
        color: #fff;
        font-size: 1.5rem;

    }

    button:disabled {
        background-color: $Gray ;
    }

    button:active, button:focus{
        background-color: $SeaGreen !important;
        .btn-icon{
            color: #fff;
            font-size: 1.5rem;
    
        }
    }

    button:hover{
        background-color: $SeaGreen;
        transform: scale(1.1);
    }
}

.no-min-width{
    min-width: 0 !important;
}


.station-item-wrapper{
    padding: .5rem .8rem;
    
    .station-item{
        padding: .5rem;
        border-radius: 18px;

        &.active{
            border: 2px solid $SeaGreen;

        }
    }

    .station-value{
        font-size: 1.2rem;
    }

    .bolder-divider{
        border: 1px solid $Gray !important;
    }

    .worst-items, .aqi{
        display: flex;
        justify-content: space-between;
    }

    .aqi{
        margin: 5px 0;
    }

    .first,.second{
        display: flex;
        gap: 2px;
        align-items: center;
    }
}

.carousel-header{
    text-wrap: nowrap;
}